
services:
  backend:
    build:
      context: ../../
      dockerfile: infra/docker/backend.Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - ../../backend/.env
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kitsplace_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql

volumes:
  db-data: