:root {
    font-family: 'Inter', ui-sans-serif;
    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));
    --margin-lg: 0 12%;
    --margin-md: 0 6%;
    --border1: 1rem;
    --border05: 0.5rem;

    --text: #040316;
    --bg: #c1e3f1;
    --primary: #da4471;
    --secondary: #e75a23;
    --accent: #ebd22d;
    --textcontrast: #64d97b;
    --bgcontrast: #64d97b;
    --primarycontrast: #ffdd00;
    --secondarycontrast: #ffdd00;
    --accentcontrast: #64d97b;
    --text5: hsl(243, 76%, 5%, 5%);
    --text10: hsl(243, 76%, 5%, 10%);
    --text15: hsl(243, 76%, 5%, 15%);
    --text20: hsl(243, 76%, 5%, 20%);
    --text25: hsl(243, 76%, 5%, 25%);
    --text30: hsl(243, 76%, 5%, 30%);
    --text35: hsl(243, 76%, 5%, 35%);
    --text40: hsl(243, 76%, 5%, 40%);
    --text45: hsl(243, 76%, 5%, 45%);
    --text50: hsl(243, 76%, 5%, 50%);
    --text55: hsl(243, 76%, 5%, 55%);
    --text60: hsl(243, 76%, 5%, 60%);
    --text65: hsl(243, 76%, 5%, 65%);
    --text70: hsl(243, 76%, 5%, 70%);
    --text75: hsl(243, 76%, 5%, 75%);
    --text80: hsl(243, 76%, 5%, 80%);
    --text85: hsl(243, 76%, 5%, 85%);
    --text90: hsl(243, 76%, 5%, 90%);
    --text95: hsl(243, 76%, 5%, 95%);
    --primary5: hsl(342, 67%, 56%, 5%);
    --primary10: hsl(342, 67%, 56%, 10%);
    --primary15: hsl(342, 67%, 56%, 15%);
    --primary20: hsl(342, 67%, 56%, 20%);
    --primary25: hsl(342, 67%, 56%, 25%);
    --primary30: hsl(342, 67%, 56%, 30%);
    --primary35: hsl(342, 67%, 56%, 35%);
    --primary40: hsl(342, 67%, 56%, 40%);
    --primary45: hsl(342, 67%, 56%, 45%);
    --primary50: hsl(342, 67%, 56%, 50%);
    --primary55: hsl(342, 67%, 56%, 55%);
    --primary60: hsl(342, 67%, 56%, 60%);
    --primary65: hsl(342, 67%, 56%, 65%);
    --primary70: hsl(342, 67%, 56%, 70%);
    --primary75: hsl(342, 67%, 56%, 75%);
    --primary80: hsl(342, 67%, 56%, 80%);
    --primary85: hsl(342, 67%, 56%, 85%);
    --primary90: hsl(342, 67%, 56%, 90%);
    --primary95: hsl(342, 67%, 56%, 95%);
    --secondary5: hsl(17, 80%, 52%, 5%);
    --secondary10: hsl(17, 80%, 52%, 10%);
    --secondary15: hsl(17, 80%, 52%, 15%);
    --secondary20: hsl(17, 80%, 52%, 20%);
    --secondary25: hsl(17, 80%, 52%, 25%);
    --secondary30: hsl(17, 80%, 52%, 30%);
    --secondary35: hsl(17, 80%, 52%, 35%);
    --secondary40: hsl(17, 80%, 52%, 40%);
    --secondary45: hsl(17, 80%, 52%, 45%);
    --secondary50: hsl(17, 80%, 52%, 50%);
    --secondary55: hsl(17, 80%, 52%, 55%);
    --secondary60: hsl(17, 80%, 52%, 60%);
    --secondary65: hsl(17, 80%, 52%, 65%);
    --secondary70: hsl(17, 80%, 52%, 70%);
    --secondary75: hsl(17, 80%, 52%, 75%);
    --secondary80: hsl(17, 80%, 52%, 80%);
    --secondary85: hsl(17, 80%, 52%, 85%);
    --secondary90: hsl(17, 80%, 52%, 90%);
    --secondary95: hsl(17, 80%, 52%, 95%);
    --accent5: hsl(52, 83%, 55%, 5%);
    --accent10: hsl(52, 83%, 55%, 10%);
    --accent15: hsl(52, 83%, 55%, 15%);
    --accent20: hsl(52, 83%, 55%, 20%);
    --accent25: hsl(52, 83%, 55%, 25%);
    --accent30: hsl(52, 83%, 55%, 30%);
    --accent35: hsl(52, 83%, 55%, 35%);
    --accent40: hsl(52, 83%, 55%, 40%);
    --accent45: hsl(52, 83%, 55%, 45%);
    --accent50: hsl(52, 83%, 55%, 50%);
    --accent55: hsl(52, 83%, 55%, 55%);
    --accent60: hsl(52, 83%, 55%, 60%);
    --accent65: hsl(52, 83%, 55%, 65%);
    --accent70: hsl(52, 83%, 55%, 70%);
    --accent75: hsl(52, 83%, 55%, 75%);
    --accent80: hsl(52, 83%, 55%, 80%);
    --accent85: hsl(52, 83%, 55%, 85%);
    --accent90: hsl(52, 83%, 55%, 90%);
    --accent95: hsl(52, 83%, 55%, 95%);
}