.topic-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    gap: 12px;
}

.topic-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 2.5rem;
    gap: 20px;
    background-color: var(--primary5);
    border-radius: var(--border1);
}

.topic-card svg {
    color: var(--primary80);
}

.topic-card h2 {
    margin: 0;
    font-size: 16px;
    color: var(--text90);
}